*{
    padding: 0;
    margin: 0;
}

.header {
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    background: url("img/bgc.svg") no-repeat;
    border-bottom-width: 2px;
    /* Толщина линии внизу */
    border-bottom-style: solid;
    /* Стиль линии внизу */
    border-bottom-color: white;
    /* Цвет линии внизу */
}

.navigation {
    Width: 1110px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    list-style-type: none;
    color: white;
}

.nav__link {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    transition: color 0.2s linear;
}

.nav__link:hover {
    color: burlywood;
}

.tagline {
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 50px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.2s linear, color 0.2s linear;
}

.btn:hover {
    background-color: burlywood;
    color: #333;
}

.brands {
    background-color: #333;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.img {
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: white;
}


/*menu2*/

.menu {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

.btn_0 {
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 15px;
    background-color: #333;
}

.btn_1 {
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;
    border: 1px solid #333;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 15px;
}


/* .btn_3{
    display: inline-block;
    vertical-align: top;
    padding: 30px 40px;
    border: 1px solid #333;
    color: #333;
} */


/* .container__menu{
    Width: 1110px; margin: 0 auto;
    padding-bottom: 50px;
    display: block;
    
}

.menu{
    list-style: none;
    background:#fff;
    font-size: 18px;
    overflow: hidden;

}

.nav__doule{
    float: left;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px 25px;
}

/*menu2*/


/*catalog*/

.ivent {
    color: #333;
    font-size: 21px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.image__menu {
    Width: 1110px;
    Height: 650px;
    display: block;
    margin: 0 auto;
}

.image {
    margin-right: 10px;
    /* Отступ справа */
    margin-bottom: 10px;
    /* Отступ снизу */
}


/*catalog*/


/*our salon*/

.our__salon {
    width: 100%;
    height: 541px;
    background: url("img/background_our_salon.svg") no-repeat;
    text-align: center;
}

.salon__text {
    color: white;
}

.salon__top {
    color: white;
    font-size: 21px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
}

.salon__center {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.salon__bottom {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

.btn__salon {
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.2s linear, color 0.2s linear;
    background-color: #fff;
}
/*blog*/
.blog {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
.img__blog {
    Width: 1110px;
    display: block;
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
}

.text__blog {
    position: absolute;
    left: 460px;
    top: 2770px;
    text-align: center;
    color: #FFFFFF;
    font-size: 21px;
}
.text__blog1 {
    position: absolute;
    left: 790px;
    top: 2770px;
    text-align: center;
    color: #FFFFFF;
    font-size: 21px;
}
.text__blog2 {
    position: absolute;
    left: 1140px;
    top: 2770px;
    text-align: center;
    color: #FFFFFF;
    font-size: 21px;
}
.btn__blog{
    display: inline-block; 
    
    vertical-align: top;
    padding: 10px 30px;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.2s linear, color 0.2s linear;
}
/*blog*/
.gallery__text{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.gallery{
    display: block;
    width: 1200px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    font-size:0
}

